In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('raw.csv')

In [3]:
print(data.head())
print(data.shape)

   No  year  month  day  hour  pm2.5  DEWP  TEMP    PRES cbwd    Iws  Is  Ir
0   1  2010      1    1     0    NaN   -21 -11.0  1021.0   NW   1.79   0   0
1   2  2010      1    1     1    NaN   -21 -12.0  1020.0   NW   4.92   0   0
2   3  2010      1    1     2    NaN   -21 -11.0  1019.0   NW   6.71   0   0
3   4  2010      1    1     3    NaN   -21 -14.0  1019.0   NW   9.84   0   0
4   5  2010      1    1     4    NaN   -20 -12.0  1018.0   NW  12.97   0   0
(43824, 13)

In [4]:
data['date'] = pd.to_datetime(data['year'].map(str)+'-'+data['month'].map(str)+'-'+data['day'].map(str)+' '+data['hour'].map(str)+':00:00')
print(data.head())

   No  year  month  day  hour  pm2.5  DEWP  TEMP    PRES cbwd    Iws  Is  Ir  \
0   1  2010      1    1     0    NaN   -21 -11.0  1021.0   NW   1.79   0   0
1   2  2010      1    1     1    NaN   -21 -12.0  1020.0   NW   4.92   0   0
2   3  2010      1    1     2    NaN   -21 -11.0  1019.0   NW   6.71   0   0
3   4  2010      1    1     3    NaN   -21 -14.0  1019.0   NW   9.84   0   0
4   5  2010      1    1     4    NaN   -20 -12.0  1018.0   NW  12.97   0   0

                 date
0 2010-01-01 00:00:00
1 2010-01-01 01:00:00
2 2010-01-01 02:00:00
3 2010-01-01 03:00:00
4 2010-01-01 04:00:00

In [5]:
data_ = data.drop(['No','year', 'month', 'day', 'hour'], axis=1)
print(data_.head())

   pm2.5  DEWP  TEMP    PRES cbwd    Iws  Is  Ir                date
0    NaN   -21 -11.0  1021.0   NW   1.79   0   0 2010-01-01 00:00:00
1    NaN   -21 -12.0  1020.0   NW   4.92   0   0 2010-01-01 01:00:00
2    NaN   -21 -11.0  1019.0   NW   6.71   0   0 2010-01-01 02:00:00
3    NaN   -21 -14.0  1019.0   NW   9.84   0   0 2010-01-01 03:00:00
4    NaN   -20 -12.0  1018.0   NW  12.97   0   0 2010-01-01 04:00:00

In [6]:
data_ = data_.set_index('date')

In [7]:
data_.columns = ['pollution', 'dew', 'temp', 'press', 'wnd_dir', 'wnd_spd', 'snow', 'rain']

In [8]:
data_.head()

                     pollution  dew  temp   press wnd_dir  wnd_spd  snow  rain
date
2010-01-01 00:00:00        NaN  -21 -11.0  1021.0      NW     1.79     0     0
2010-01-01 01:00:00        NaN  -21 -12.0  1020.0      NW     4.92     0     0
2010-01-01 02:00:00        NaN  -21 -11.0  1019.0      NW     6.71     0     0
2010-01-01 03:00:00        NaN  -21 -14.0  1019.0      NW     9.84     0     0
2010-01-01 04:00:00        NaN  -20 -12.0  1018.0      NW    12.97     0     0

In [9]:
data_['pollution'].fillna(0, inplace=True)
print(data_.head())

                     pollution  dew  temp   press wnd_dir  wnd_spd  snow  rain
date
2010-01-01 00:00:00        0.0  -21 -11.0  1021.0      NW     1.79     0     0
2010-01-01 01:00:00        0.0  -21 -12.0  1020.0      NW     4.92     0     0
2010-01-01 02:00:00        0.0  -21 -11.0  1019.0      NW     6.71     0     0
2010-01-01 03:00:00        0.0  -21 -14.0  1019.0      NW     9.84     0     0
2010-01-01 04:00:00        0.0  -20 -12.0  1018.0      NW    12.97     0     0

In [13]:
# 删除前24行
data_ = data_[24:]

In [14]:
data_.head()

                     pollution  dew  temp   press wnd_dir  wnd_spd  snow  rain
date
2010-01-02 00:00:00      129.0  -16  -4.0  1020.0      SE     1.79     0     0
2010-01-02 01:00:00      148.0  -15  -4.0  1020.0      SE     2.68     0     0
2010-01-02 02:00:00      159.0  -11  -5.0  1021.0      SE     3.57     0     0
2010-01-02 03:00:00      181.0   -7  -5.0  1022.0      SE     5.36     1     0
2010-01-02 04:00:00      138.0   -7  -5.0  1022.0      SE     6.25     2     0

In [ ]:
# 保存处理完成的特征到 新的文件中
data_.to_csv('pollution.csv')